<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
</head>
<body>
<div>
    <h3>Настройки</h3>
    <table>
        <tr>
            <td>Название приложения</td>
            <td><input type="text" name="app_name"></td>
        </tr>
        <tr>
            <td>Подпись приложения</td>
            <td><input type="text" name="app_tooltip"></td>
        </tr>
        <tr>
            <td>Иконка приложения<input type="file"></td>
        </tr>
    </table>
    <br>
</div>
<p>
    <input type="button" value="Сохранить">
    <input type="button" value="На главную">
</p>
</body>
</html>